button{
    background-color:green;
    font-size:20px;
    border:none;
    width:30px;
    border-radius:15px;
    cursor:pointer;
    height:30px;
}
.output{
    font-size:25px;
}
.title{
    font-size:40px;
}
