.button{
    cursor: pointer;
    width: 50px;
    height: 50px;
    font-size: 25;
    margin: 2;
	border:none;
	border-radius:40px;
	background-color:#9ccc65;
}

.button:hover{
	background-color:#cefe97;
}

#complex{
	margin-left:2;
}
			
.textview{			
	margin: 5px;
    width: 416px;
	height: 30px;
    font-size: 25;
    padding: 5px;
}            
.background{			
    background-color: red;          
    height: 100%;
}
			
.bottom{
	position:fixed;
	bottom:10px;
}
			
.tabs{
	background-color:WhiteSmoke;
	border:2px;
	border-style:solid solid none solid;
	height:37px;
	width:100px;
	border-top-right-radius:14px;
	border-top-left-radius:14px;
}
			
.top{
	background-color:LightGray;  
}
			
.tabgroup{
	background-color:LightGray;
	margin-bottom:10px;
	padding:0px;
}
			
.notepad{
	margin-left:450px;
	height:266px;
	width:389px;
}
			
.tabs:hover {
	background-color: white;
}
	
.tabs button.active {
	background-color: white;
}
			
h3{
	margin:1px;
}
			
.base{
	height:292px;
	display:table;
}

.base > * {
  	display: table-cell;
	height:272px;
}

.simple{
	height:272px;
}
p{
	margin:0px;
}
